<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7471b5">  <td>18/01/23 18:36:01</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SpotifyTest.openSpotify()[pri:0, instance:SpotifyTest@57536d79]">&gt;&gt;openSpotify</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@407858146</td>   <td></td> </tr>
<tr bgcolor="7471b5">  <td>18/01/23 18:36:05</td>   <td>3415</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SpotifyTest.testInvalidLogin(java.lang.String, java.lang.String)[pri:0, instance:SpotifyTest@57536d79]">testInvalidLogin</td> 
  <td>main@407858146</td>   <td></td> </tr>
</table>
